<div style="text-align:center">
  <h1>
    Tabata Timer
  </h1>
  <div class="row">
    Workout Type: {{workout == WorkoutOptions.Bodyweight ? 'Bodyweight' : 'Cardio Machine'}}
  </div>
  <div class="row">
    Intervals: {{intervalCount}}
  </div>
  <div class="row">
      <button (click)="startSelecting()">Start Over</button>
  </div>
</div>

<div *ngIf="isSelecting">
  <app-workout-selector (workoutSelected)="workoutSelected($event)"></app-workout-selector>
  <app-interval-selector
    (intervalCountSelected)="intervalCountSelected($event)"
    [intervals]="intervalCount">
  </app-interval-selector>
  <div class="row">
    <button (click)="startWarmup()">Start Warmup</button>
    <button (click)="startWorkout()">Start Workout</button>
  </div>
</div>

<div *ngIf="isWarmingUp">
  <app-warmup-timer (warmupFinished)="startWorkout()"></app-warmup-timer>
</div>

<div *ngIf="isWorkingOut">
  <app-workout-bodyweight
    *ngIf="workout === WorkoutOptions.Bodyweight"
    [intervals]="intervalCount"
    (workoutFinished)="startCooldown()">
  </app-workout-bodyweight>
  <app-workout-cardio
    *ngIf="workout === WorkoutOptions.CardioMachine"
    [intervals]="intervalCount"
    (workoutFinished)="startCooldown()"
    ></app-workout-cardio>
</div>

<div *ngIf="isCoolingDown">
  <app-cooldown-timer (cooldownFinished)="startSelecting()"></app-cooldown-timer>
</div>
