<div style="text-align:center">
  <h1>
    Tabata Timer
  </h1>
  <div>
    Workout Type: {{workout == WorkoutOptions.BodyWeight ? 'BodyWeight' : 'Cardio Machine'}}
  </div>
  <div>
    Intervals: {{intervalCount}}
  </div>
</div>

<div *ngIf="isSelecting">
  <app-workout-selector (workoutSelected)="workoutSelected($event)"></app-workout-selector>
  <app-interval-selector (intervalCountSelected)="intervalCountSelected($event)"></app-interval-selector>
  <div>
    <button (click)="startWarmup()">Start Warmup</button>
    <button (click)="startWorkout()">Start Workout</button>
  </div>
</div>

<div *ngIf="isWarmingUp">
  <app-warmup-timer (warmupFinished)="startWorkout()"></app-warmup-timer>
</div>

<div *ngIf="isWorkingOut">
  <app-workout-bodyweight *ngIf="workout === WorkoutOptions.BodyWeight" [intervals]="intervalCount"></app-workout-bodyweight>
  <app-workout-cardio *ngIf="workout === WorkoutOptions.CardioMachine"></app-workout-cardio>
</div>
